@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #ff7500; /* Bright orange */
    --secondary-color: #32373c; /* Deep grey */
    --background-color: #ffffff; /* White */
    --card-color: #f0f0f0; /* Light grey for card backgrounds */
    --button-color: #ff7500; /* Bright orange for buttons */
    --button-text-color: #ffffff; /* White for button text */
    --border-color: #dddddd; /* Light grey for borders */
    --footer-background-color: #40403f; /* Dark grey for footer */
    --text-color: #32373c; /* Deep grey for text */
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif; /* Common web-safe sans-serif font */
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-family: Arial, sans-serif; /* Matching the body font for headers */
  }

  a {
    color: var(--secondary-color);
    text-decoration: none;
  }

  a:hover {
    color: var(--primary-color);
  }

  button, .button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 10px 45px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: darken(var(--button-color), 10%);
  }

  input, textarea {
    border: 1px solid var(--border-color);
    padding: 10px;
  }

  input:focus, textarea:focus {
    border-color: var(--primary-color);
  }

  header {
    background-color: transparent;
  }

  footer {
    background-color: var(--footer-background-color);
    color: #efefef;
    padding: 50px 15px;
  }
}
